*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/

# Wrapper
grailsw
grailsw.bat
/wrapper/
/data/
/bin

# Eclipse
.classpath
.project
.claspath
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

